[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tarbar"]
	path = bundle/tarbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "LS_COLORS"]
	path = LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "bundle/instant-markdown"]
	path = bundle/instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/gitosis"]
	path = bundle/gitosis
	url = https://github.com/timcharper/gitosis.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
